.profile {
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.banner {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  flex-direction: row; /* Ensure flex-direction is row */
  background-color: transparent;
}

.profile-info {
  color: #fff;
  max-width: 60%;
  background-color: transparent;
}

.profile-info h2 {
  margin: 0;
  font-size: 2.5rem;
  background-color: transparent;
}

.profile-info p {
  margin: 10px 0;
  font-size: 1.2rem;
  background-color: transparent;
}

.profile-btn {
  background-color: #2bd576;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 5px;
  position: absolute;
  left: 25px; /* Adjust the left position as needed */
  top: 65%; /* Center the button vertically */
}

.profile-btn:hover {
  background-color:  #218838; 
  transform: translateY(-2px);
}

.profile-pic-container {
  position: absolute;
  right: 20px;
  top: 50%; /* Center the picture vertically */
  transform: translateY(-50%); /* Adjust for centering */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



