.project-card-link {
  text-decoration: none;
  color: inherit;
}

.project-card {
  width: 100%; /* Full width for small devices */
  max-width: 16rem; /* Maximum width for larger devices */
  margin: 1rem;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card-image-container {
  position: relative;
}

.project-card-img {
  height: 160px; /* Adjust height as needed */
  object-fit: cover;
  transition: opacity 0.3s;
}

.project-card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card:hover .project-card-overlay {
  opacity: 1;
}

.project-card-button {
  background-color: #2bd576;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  transition: background-color 0.3s;
}

.project-card-body {
  padding: 1rem;
  text-align: center;
  background-color: var(--card-primary);
  display: flex;
  flex-direction: column;
}

.project-card-title {
  font-size: 1.2rem; /* Adjust font size */
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: whitesmoke;
  background-color: transparent;
}

.project-card-text {
  font-size: 0.9rem; /* Adjust font size */
  color: #bbbbbb;
  flex-grow: 1;
  background-color: transparent;
}

.project-show-more-button {
  margin-top: 20px;
  background-color: #2bd576;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.project-show-more-button:hover {
  background-color: #218838;
}

.project-card-button {
  margin-top: 20px;
  background-color: #2bd576;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  border-radius: 10px;
}

@media (max-width: 576px) {
  .project-card-title {
    font-size: 1rem;
  }

  .project-card-text {
    font-size: 0.8rem;
  }

  .project-card-img {
    height: 120px; /* Adjust height for small devices */
  }
}
