.new-experience-container {
   
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: var(--card-primary);
    margin-top: 20px ;
    margin-bottom: 20px;
    
  }
  
  .new-experience-content {
    max-width: 600px;
    background-color: var(--card-primary);
  }
  
  .new-experience-content h2 {
    color: whitesmoke;
    font-size: 36px;
    margin-bottom: 40px;
    background-color: var(--card-primary);
  }
  
  .new-experience-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: var(--card-primary);
  }
  
  .new-experience-item h3 {
    color: whitesmoke;
    font-size: 24px;
    margin-bottom: 10px;
    background-color: var(--card-primary);
  }
  
  .new-experience-item p {
    color: whitesmoke;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    background-color: var(--card-primary);
  }
  
  .new-experience-item ul {
    list-style-type: disc;
    margin-left: 20px;
    background-color: var(--card-primary);
  }

  .new-experience-item li {
    list-style-type: disc;
    margin-left: 20px;
    background-color: var(--card-primary);
  }
  
    